@use "../../assets/colours.scss" as c;
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: c.$dark-grey;
  width: 15%;
  border-radius: 20px;
  padding: 20px;
  color: white;
  min-height: 50px;
  font-family: "Jersey 25", sans-serif;
  justify-content: space-evenly;
  align-items: center;
}
.favouriteImg {
  height: 20px;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img {
  width: 140px;
  max-width: 100%;
}
.price {
  border: 1px solid black;
  width: 60px;
  background-color: #235789;
  border-radius: 10px;
  text-align: center;
  color: c.$black;
}
.addToCart {
  width: 90%;
  font-size: 20px;
  background-color: c.$green;
}
