@use "../../assets/colours.scss" as c;
@use "../../partials/queries.scss";
.page {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 30px;
  min-width: 50%;
  background-color: c.$blue;
  border-radius: 10px;
  min-height: 300px;
  padding: 20px;
  font-family: "Jersey 25", sans-serif;

  @include queries.phone {
    width: 80%;
    font-size: 20px;
  }
  @include queries.tablet {
    width: 80%;
  }
  @include queries.laptop {
    width: 300px;
  }
  &__innerContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    @include queries.phone {
      width: 50%;
      font-size: 20px;
    }
    @include queries.tablet {
      width: 50%;
    }
    @include queries.laptop {
      width: 300px;
    }
    &__name {
      color: white;
      font-weight: bold;
      font-size: 40px;
      @include queries.phone {
        font-size: 24px;
      }
      @include queries.tablet {
      }
      @include queries.laptop {
      }
    }
    &__qtyInput {
      width: 80px;
      font-size: 30px;
      background-color: white;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include queries.phone {
        width: 70px;
        font-size: 18px;
      }
      @include queries.tablet {
        width: 70px;
        font-size: 18px;
      }
      @include queries.laptop {
      }
      &__buttons {
        width: calc(100% / 3);
      }
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
    &__favouriteImg {
      width: 40px;
      height: 40px;
    }
  }

  &__price {
    color: white;
    font-size: 30px;
    background-color: c.$pink;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    @include queries.phone {
      font-size: 20px;
    }
    @include queries.tablet {
    }
    @include queries.laptop {
    }
  }
}
.img {
  width: 50%;
  border-radius: 10px;

  @include queries.phone {
    height: 200px;
  }
  @include queries.tablet {
    height: 200px;
  }
  @include queries.laptop {
    height: 300px;
  }
}
.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.variants {
  color: white;
  user-select: none;
  border-radius: 5px;
  &:active {
    user-select: none;
  }
  &::selection {
    user-select: none;
  }
}
.select {
  user-select: none;
  width: 150px;
  font-size: 30px;
  @include queries.phone {
    font-size: 20px;
  }
  @include queries.tablet {
    font-size: 20px;
  }
  @include queries.laptop {
  }
}
.addToCartContainer {
  display: flex;
  flex-direction: column;
  &__button {
    background-color: c.$green;
    height: 50px;
    font-size: 30px;
    @include queries.phone {
      font-size: 24px;
    }
    @include queries.tablet {
      font-size: 24px;
    }
    @include queries.laptop {
    }
  }
}
.text {
  @include queries.phone {
    font-size: 20px;
  }
  @include queries.tablet {
    font-size: 20px;
  }
  @include queries.laptop {
  }
}
