@use "../../partials/queries.scss";
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, sans-serif;
  gap: 20px;
  width: 100%;
  height: 120px;
  background: rgb(114, 225, 209);
  background: linear-gradient(
    180deg,
    rgba(114, 225, 209, 1) 0%,
    rgba(114, 225, 209, 1) 74%,
    rgba(25, 10, 39, 1) 98%,
    rgba(245, 4, 105, 1) 100%
  );
  @include queries.phone {
    height: 100px;
  }
  @include queries.tablet {
    height: 100px;
  }
}
.img {
  height: 100px;
  @include queries.phone {
    height: 100px;
  }
  @include queries.tablet {
    height: 100px;
  }
}
.title {
  font-size: 50px;
  text-align: center;
  @include queries.phone {
    font-size: 30px;
  }
  @include queries.tablet {
    font-size: 40px;
  }
}
.cart {
  height: 60px;

  padding-right: 15px;
  @include queries.phone {
    height: 40px;
  }
  @include queries.tablet {
  }
}
